<font size="-1">
	<p><b><!--$WATERMARK_TEXT-->:              </b> <!--$HLP_WATERMARK_TEXT--></p>
	<p><b><!--$EMAIL_USED_TEXT-->:             </b> <!--$HLP_EMAIL_USED_TEXT--></p>
	<ul>
		<li><b><!--$EMAIL_RECIPIENTS_TEXT-->     </b> <!--$HLP_EMAIL_RECIPIENTS_TEXT--></li>
		<li><b><!--$EMAIL_FROM_NAME_TEXT-->      </b> <!--$HLP_EMAIL_FROM_NAME_TEXT--> </li>
		<li><b><!--$EMAIL_SUBJECT_TEXT-->        </b> <!--$HLP_EMAIL_SUBJECT_TEXT-->   </li>
		<li><b><!--$EMAIL_BODY_TEXT-->           </b> <!--$HLP_EMAIL_BODY_TEXT-->      </li>
		<li><b><!--$EMAIL_INLINE_TEXT-->:        </b> <!--$HLP_EMAIL_INLINE_TEXT-->:   </li>
		<li><b><!--$EMAIL_RESIZE_TEXT-->         </b> <!--$HLP_EMAIL_RESIZE_TEXT-->    </li>
		<li><b><!--$EMAIL_TO_TEXT-->:            </b> <!--$HLP_EMAIL_TO_TEXT-->:       </li>
		<li><b><!--$EMAIL_SIGNATURE_TEXT-->      </b> <!--$HLP_EMAIL_SIGNATURE_TEXT--> </li>
  </ul>
</font>
