									<center>
										<span><img src="/plugins/cam-connect/cam.png"><b><!--$LOGO_TEXT--></b>
										<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
											<table border=0 cellpadding=0 width="90%">
												<tr>
													<td colspan="3">
														<select id="IMAGE_RESIZE" name="IMAGE_RESIZE" data-mini="false">
															<option value="9999"><!--$IMAGE_RESIZE_TEXT--> <!--$IMAGE_RESIZE_ORIGINAL_TEXT--></option>
															<option value="240" ><!--$IMAGE_RESIZE_TEXT--> 240px</option>
															<option value="320" ><!--$IMAGE_RESIZE_TEXT--> 320px</option>
															<option value="640" ><!--$IMAGE_RESIZE_TEXT--> 640px</option>
															<option value="720" ><!--$IMAGE_RESIZE_TEXT--> 720px</option>
															<option value="1024"><!--$IMAGE_RESIZE_TEXT--> 1024px</option>
															<option value="1280"><!--$IMAGE_RESIZE_TEXT--> 1280px</option>
															<option value="1600"><!--$IMAGE_RESIZE_TEXT--> 1600px</option>
															<option value="1920"><!--$IMAGE_RESIZE_TEXT--> 1920px</option>
															<option value="0"   ><!--$IMAGE_RESIZE_JUST_TEXT--></option>
														</select>
														<SCRIPT> $("#IMAGE_RESIZE").val('<!--$IMAGE_RESIZE-->'); </SCRIPT>
													</td>
												</tr>
												<tr>
													<td colspan="3">
														<input onclick="chk_boxes()" type="checkbox" id="WATERMARK_checkbox" name="WATERMARK_checkbox"><label for="WATERMARK_checkbox"><!--$WATERMARK_TEXT--></label>
														<script><!--$WATERMARK_script--></script>
														<input id="WATERMARK" name="WATERMARK" type="hidden" value="<!--$WATERMARK-->">
													</td>
												</tr>
												<tr>
													<td colspan="3">
														<input type="checkbox" onclick="if ( $(this).is(':checked') ) { $('#EMAIL_USED').val(1) } else { $('#EMAIL_USED').val(0) }" id="EMAIL_USED_checkbox" name="EMAIL_USED_checkbox"><label for="EMAIL_USED_checkbox"><!--$EMAIL_USED_TEXT--></label>
														<input id="EMAIL_USED" name="EMAIL_USED" type="hidden" value="<!--$EMAIL_USED-->">
													</td>
												</tr>
											</table>
											<div id="cam_connect_email_used" style="display:none;">
												<table width="90%" style="padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(255,255,192,.2);">
													<tr>
														<td align="right">
															<nobr><!--$EMAIL_RECIPIENTS_TEXT--></nobr>
														</td>
														<td width="100%">
															<input id="EMAIL_RECIPIENTS" name="EMAIL_RECIPIENTS" type="text" data-validation="length letternumeric" data-validation-length="Min5"
																data-validation-allowing="-_ </>@.;:." class="textfield" value="<!--$EMAIL_RECIPIENTS-->" data-validation-error-msg="<!--$EMAIL_RECIPIENTS_VALIDATION-->">
															<input type="hidden" name="EMAIL_FILENAME" value="<!--$EMAIL_FILENAME-->">
														</td>
														<td align="right">
															<nobr><!--$EMAIL_RECIPIENTS_INFO--></nobr>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><!--$EMAIL_FROM_NAME_TEXT--></nobr>
														</td>
														<td>
															<input autocomplete="off" id="EMAIL_FROM_NAME" name="EMAIL_FROM_NAME" type="text" data-validation-optional="false" data-validation="length letternumeric" data-validation-length="Min1"
																data-validation-allowing="-_ " class="textfield" value="<!--$EMAIL_FROM_NAME-->" data-validation-error-msg="* <!--$EMAIL_FROM_NAME_VALIDATION-->">
														</td>
														<td align="right">
															<nobr><!--$EMAIL_FROM_NAME_INFO--></nobr>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><!--$EMAIL_SUBJECT_TEXT--></nobr>
														</td>
														<td colspan="2">
															<table width="100%">
																<tr>
																	<td>
																		<input autocomplete="off" id="EMAIL_SUBJECT1" name="EMAIL_SUBJECT1" type="text" data-validation="length letternumeric" data-validation-length="Max60" data-validation-optional="true" data-validation-allowing=",!.;:-_/\\ ()" class="textfield" value="<!--$EMAIL_SUBJECT1-->" data-validation-error-msg="<!--$EMAIL_SUBJECT1_VALIDATION-->">
																	</td>
																	<td>
																		<input autocomplete="off" id="EMAIL_DATE_FORMAT" name="EMAIL_DATE_FORMAT" type="text" data-validation="length alphanumeric" data-validation-length="Max20" data-validation-allowing="-_:.,/\\ " data-validation-optional="true" data-validation-allowing="-_ :\." class="textfield" value="<!--$EMAIL_DATE_FORMAT-->" data-validation-error-msg="<!--$EMAIL_DATE_FORMAT_VALIDATION-->">
																	</td>
																	<td>
																		<input autocomplete="off" id="EMAIL_SUBJECT2" name="EMAIL_SUBJECT2" type="text" data-validation="length letternumeric" data-validation-length="Max60" data-validation-optional="true" data-validation-allowing=",!.;:-_/\\ ()" class="textfield" value="<!--$EMAIL_SUBJECT2-->" data-validation-error-msg="<!--$EMAIL_SUBJECT2_VALIDATION-->">
																	</td>
																	<td>
																		<input autocomplete="off" id="EMAIL_TIME_FORMAT" name="EMAIL_TIME_FORMAT" type="text" data-validation="length alphanumeric" data-validation-length="Max20" data-validation-allowing="-_:.,/\\ " data-validation-optional="true" data-validation-allowing="-_ :\." class="textfield" value="<!--$EMAIL_TIME_FORMAT-->" data-validation-error-msg="<!--$EMAIL_TIME_FORMAT_VALIDATION-->">
																	</td>
																	<td>
																		<input autocomplete="off" id="EMAIL_SUBJECT3" name="EMAIL_SUBJECT3" type="text" data-validation="length letternumeric" data-validation-length="Max60" data-validation-optional="true" data-validation-allowing=",!.;:-_/\\ ()" class="textfield" value="<!--$EMAIL_SUBJECT3-->" data-validation-error-msg="<!--$EMAIL_SUBJECT3_VALIDATION-->">
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><!--$EMAIL_BODY_TEXT--></nobr>
														</td>
														<td colspan="2">
															<input autocomplete="off" id="EMAIL_BODY" name="EMAIL_BODY" type="text" data-validation="length letternumeric" data-validation-length="Max1000" data-validation-allowing="-_ </>&;:.,?!" class="textfield" value="<!--$EMAIL_BODY-->" data-validation-error-msg="<!--$EMAIL_BODY_VALIDATION-->">
														</td>
													</tr>
													<tr>
														<td align="right">
														</td>
														<td colspan="2">
															<select id="EMAIL_RESIZE" name="EMAIL_RESIZE" data-mini="false">
																<option value="0"   ><!--$EMAIL_RESIZE_TEXT--> <!--$EMAIL_RESIZE_ORIGINAL_TEXT--></option>
																<option value="240" ><!--$EMAIL_RESIZE_TEXT--> 240px</option>
																<option value="320" ><!--$EMAIL_RESIZE_TEXT--> 320px</option>
																<option value="640" ><!--$EMAIL_RESIZE_TEXT--> 640px</option>
																<option value="720" ><!--$EMAIL_RESIZE_TEXT--> 720px</option>
																<option value="1024"><!--$EMAIL_RESIZE_TEXT--> 1024px</option>
																<option value="1280"><!--$EMAIL_RESIZE_TEXT--> 1280px</option>
																<option value="1600"><!--$EMAIL_RESIZE_TEXT--> 1600px</option>
																<option value="1920"><!--$EMAIL_RESIZE_TEXT--> 1920px</option>
															</select>
															<SCRIPT> $("#EMAIL_RESIZE").val('<!--$EMAIL_RESIZE-->'); </SCRIPT>
														</td>
													</tr>
													<tr>
														<td>
														</td>
														<td colspan="2">
															<input onclick="chk_boxes()" type="checkbox" id="EMAIL_INLINE_checkbox" name="EMAIL_INLINE_checkbox"><label style="font-size:1em" for="EMAIL_INLINE_checkbox"><!--$EMAIL_INLINE_TEXT--></label>
															<script><!--$EMAIL_INLINE_script--></script>
															<input id="EMAIL_INLINE" name="EMAIL_INLINE" type="hidden" value="<!--$EMAIL_INLINE-->">
														</td>
													</tr>
													<tr>
														<td>
														</td>
														<td colspan="2">
															<input onclick="chk_boxes()" type="checkbox" id="EMAIL_TO_checkbox" name="EMAIL_TO_checkbox"><label style="font-size:1em" for="EMAIL_TO_checkbox"><!--$EMAIL_TO_TEXT--> <small><a onclick="display_info('<!--$EMAIL_TO_EXPLAIN_TEXT-->');"><!--$EMAIL_TO_HELP_TEXT--></a></small></label>
															<script><!--$EMAIL_TO_script--></script>
															<input id="EMAIL_TO" name="EMAIL_TO" type="hidden" value="<!--$EMAIL_TO-->">
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><!--$EMAIL_SIGNATURE_TEXT--></nobr>
														</td>
														<td colspan="2">
															<input autocomplete="off" id="EMAIL_SIGNATURE" name="EMAIL_SIGNATURE" type="text" data-validation="length letternumeric" data-validation-length="Max256" data-validation-allowing="-_ </>&;:.,?!+()</>&;:.,#" class="textfield" value="<!--$EMAIL_SIGNATURE-->" data-validation-error-msg="<!--$EMAIL_SIGNATURE_VALIDATION-->">
														</td>
													</tr>
												</table>
											</div>
											<div id="form-error-message" class="form-error-message"></div>
											<table border=0 cellpadding=0 width="90%">
												<tr>
													<td colspan="3" width="100%" >
														<center>
															<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><!--$CANCEL_TEXT--></a>
															<input type="hidden" name="saveformdata" value="1">
															<input type="hidden" id="SAVE_DATE" name="SAVE_DATE" value="">
															<input type="hidden" name="lang" value="<!--$lang-->">
															<button onclick="$('#SAVE_DATE').val( new Date().toLocaleString().replace(new RegExp(',', 'g'), '') ); chk_boxes();" type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><!--$SAVE_TEXT--></button>
														</center>
													</td>
												</tr>
											</table>
										</form>
										<table width="90%" style="padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(109,172,32,.2);">
											<tr>
												<td colspan="3" >
													<b><!--$URL_HELPER_SECTION_TEXT--></b>
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_cam_host_or_ip"><!--$CAM_HOST_TEXT--></label>
												</td>
												<td>
													<input style="width:500px" id="cam_host_or_ip" name="cam_host_or_ip" type="text" class="textfield" value="<!--$CAM_HOST_SUGGESTION-->">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_cam_model"><!--$CAM_MODEL_TEXT--></label>
												</td>
												<td>
													<select style="align:left;" id="cam_model" name="cam_model" data-mini="false">
														<!--$cam_model_list-->
													</select>
												</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_cam_user"><!--$CAM_USER_TEXT--></label>
												</td>
												<td>
													<input id="cam_user" name="cam_user" type="text" class="textfield" value="<!--$CAM_USER_SUGGESTION-->">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_cam_pass"><!--$CAM_PASS_TEXT--></label>
												</td>
												<td>
													<input id="cam_pass" type="text" class="textfield" value="<!--$CAM_PASS_SUGGESTION-->">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<i><!--$URL_HELP_CUSTOMIZE_TEXT--></i>
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $( '#image_resize' ).html('&image_resize=<span style=\'color:#00C0C0\'>'+$('#IMAGE_RESIZE').val()+'</SPAN>'); $( '#image_resize' ).prop('url','&image_resize=' + $('#IMAGE_RESIZE').val()) } else { $( '#image_resize' ).html(''); $( '#image_resize' ).prop('url','') }" type="checkbox" id="URL_HELP_IMAGE_RESIZE" name="URL_HELP_IMAGE_RESIZE"><label id="URL_HELP_IMAGE_RESIZE_LABEL" for="URL_HELP_IMAGE_RESIZE"><!--$URL_HELP_IMAGE_RESIZE_TEXT--></label>
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $( '#email_resize' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#EMAIL_RESIZE').val()+'</SPAN>'); $( '#email_resize' ).prop('url','&email_resize=' + $('#EMAIL_RESIZE').val()) } else { $( '#email_resize' ).html(''); $( '#email_resize' ).prop('url','') }" type="checkbox" id="URL_HELP_EMAIL_RESIZE" name="URL_HELP_EMAIL_RESIZE"><label id="URL_HELP_EMAIL_RESIZE_LABEL" for="URL_HELP_EMAIL_RESIZE"><!--$URL_HELP_EMAIL_RESIZE_TEXT--></label>
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $( '#no_email' ).html('&no_email=<span style=\'color:#00C0C0\'>1</SPAN>'); $( '#no_email' ).prop('url','&no_email=1') } else { $( '#no_email' ).html(''); $( '#no_email' ).prop('url','') }" type="checkbox" id="URL_HELP_NO_MAIL" name="URL_HELP_NO_MAIL"><label id="URL_HELP_NO_MAIL_LABEL" for="URL_HELP_NO_MAIL"><!--$URL_HELP_NO_MAIL_TEXT--></label>
												</td>
											</tr>
											<tr>
												<td colspan="3" width="100%">
													<hr><!--$LOXONE_CONFIG_TEXT--><br/><br/>
										<font face="courier"><small><b>http://<!--$self_host--><!--$plugin_script-->?kamera=<span style="color:#4040FF" id="cam_host_or_ip_url">?</span><span style="color:#000000" id="cam_host_or_ip_port"></span>&user=<span style="color:#FF40C0" id="cam_user_url">?</span>&pass=<span style="color:#c080FF" id="cam_pass_url">?</span>&cam-model=<span style="color:#40c040" id="cam_type">?</span><span url="" id="email_to"></span><span url="" id="no_email"></span><span url="" id="image_resize"></span><span url="" id="email_resize"></span></b></font></small>
										<br/><center><a id="btntest" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" href="#"><!--$TEST_TEXT--></a></center></td>
											</tr>
										</table>
									</center>
									<script>
								
										var $messages = $('#form-error-message');
										$.validate(
										{
											modules : 'security',
											errorMessagePosition : $messages
										});

										$('#IMAGE_RESIZE').on('click change', function(event) 
										{ 
											if ( $('#URL_HELP_IMAGE_RESIZE').is(':checked') ) { $( '#image_resize' ).html('&image_resize=<span style=\'color:#00C0C0\'>'+$('#IMAGE_RESIZE').val()+'</SPAN>'); $( '#image_resize' ).prop('url','&image_resize=' + $('#IMAGE_RESIZE').val()) } else { $( '#image_resize' ).html(''); $( '#image_resize' ).prop('url','') };
										});
										$('#EMAIL_RESIZE').on('click change', function(event) 
										{ 
													if ( $('#URL_HELP_EMAIL_RESIZE').is(':checked') ) { $( '#email_resize' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#EMAIL_RESIZE').val()+'</SPAN>'); $( '#email_resize' ).prop('url','&email_resize=' + $('#EMAIL_RESIZE').val()) } else { $( '#email_resize' ).html(''); $( '#email_resize' ).prop('url','') };
										});

										
											
										// Init

										function cam_url(string2check)
										{
											var cam_host_or_ip = string2check.split(":");
											if ( cam_host_or_ip.length > 1 && ( cam_host_or_ip[1] != "80" & cam_host_or_ip[1] != "") )
											{
												$( "#cam_host_or_ip_url" ).html(cam_host_or_ip[0]);
												$( "#cam_host_or_ip_port" ).html('&port=<span style="color:#00C000">'+cam_host_or_ip[1]+"</SPAN>");
												var cam_url = cam_host_or_ip[0]+"&port="+cam_host_or_ip[1];
											}
											else
											{
												$( "#cam_host_or_ip_url" ).html(cam_host_or_ip[0]);
												$( "#cam_host_or_ip_port" ).html('&port=<span style="color:#00C000">'+80+"</SPAN>");
												var cam_url = cam_host_or_ip[0]+"&port=80";
											}
											return cam_url
										}
										cam_url($( "#cam_host_or_ip").val()); 										
										$( "#cam_type" ).html( $( "#cam_model").val() );
										$( "#cam_user_url" ).html($( "#cam_user").val());
										$( "#cam_pass_url" ).html($( "#cam_pass").val());

										$( "#EMAIL_RECIPIENTS" ).keyup(function( event ) 
										{ 
											$('#EMAIL_TO_checkbox').trigger('change');
										}); 

										$("#EMAIL_USED_checkbox").change(function()  
										{             
											chk_boxes();
										}); 


										$("#EMAIL_TO_checkbox").change(function()  
										{ 
											if ( $('#EMAIL_TO_checkbox').is(':checked') )
												{
													if ( $('#EMAIL_USED').val() == "1" )
													{
														$( "#btntest" ).css('visibility','visible');	
														$( "#email_to" ).html( "&email_to=<span style='color:#FF8040'>" + $('#EMAIL_RECIPIENTS').val().replace(new RegExp("@", 'g'), "(at)") + "</span>");
														$( "#email_to" ).attr( 'url', "&email_to=" + $('#EMAIL_RECIPIENTS').val().replace(new RegExp("@", 'g'), "(at)"));
													}
													else
													{
														$( "#email_to" ).html( '');
														$( "#email_to" ).attr( 'url', '' );
													}
												}
												else
												{
													$( "#email_to" ).html( '');
													$( "#email_to" ).attr( 'url', '' );
												}
										}); 
										$('#EMAIL_TO_checkbox').trigger('change');

										$( "#btntest" ).css('visibility', 'hidden'); 
										$("#cam_model").change(function()  
										{ 	
											$( "#cam_type" ).html($( "#cam_model").val() ); 
										}); 
										$( "#cam_host_or_ip").keyup(function( event ) 
										{ 
											cam_url($( "#cam_host_or_ip").val()); 
											$( "#btntest" ).css('visibility', 'visible')
										}); 
										$( "#cam_user" ).keyup(function( event ) 
										{ 
											$( "#cam_user_url" ).html($("#cam_user").val()); 
											$( "#btntest" ).css('visibility','visible')
										}); 
										$( "#cam_pass" ).keyup(function( event ) 
										{ 
											$("#cam_pass_url" ).html($( "#cam_pass").val()); 
											$( "#btntest" ).css('visibility', 'visible')
										}); 
										$( "#btntest" ).click(function () 
										{ 
											last_part = '';
											if ($( "#image_resize").prop('url'))
											{
												last_part = last_part + $( "#image_resize").prop('url');
											}

											if ( $( "#no_email").css('display') == 'none' )
											{
												// Ignore in URL if not visible 
											}
											else
											{
												if ($( "#email_resize").prop('url'))
												{
													last_part = last_part + $( "#email_resize").prop('url');
												}
												if ( $( "#no_email").prop('url') )
												{
													last_part = last_part + $( "#no_email").prop('url');
												}
											}
											url2open = "http://<!--$self_host--><!--$plugin_script-->?kamera=" + cam_url($( "#cam_host_or_ip").val()) + "&user=" + 	 $( "#cam_user").val() + "&pass=" + $( "#cam_pass").val() + "&cam-model=" + $( "#cam_model").val() + $( "#email_to").attr('url').replace(new RegExp("@", 'g'), "(at)") +"&"+ last_part; window.open(url2open,'Cam-Connect','status=no,scrollbars=no,titlebar=no,toolbar=no,menubar=no,location=no');
										}); 
									
										
										// Disable some options on click depending on selected value
										function chk_boxes()
										{
											$("#EMAIL_RECIPIENTS").prop("data-validation-optional",true);
											$("#EMAIL_BODY").prop("data-validation-optional",true);
											$("#EMAIL_SIGNATURE").prop("data-validation-optional",true);
											$("#EMAIL_DATE_FORMAT").prop("data-validation-optional",true);
											$("#EMAIL_TIME_FORMAT").prop("data-validation-optional",true);
											if ( $('#WATERMARK_checkbox').is(':checked') )
											{
												$('#WATERMARK').val(1);
											}
											else
											{
												$('#WATERMARK').val(0);
											}
											
											if ( $('#EMAIL_USED').val() == "1" )
											{
												$("#EMAIL_USED_checkbox").prop("checked", 1);
												$( "label[for='EMAIL_USED_checkbox']" ).removeClass( "ui-checkbox-off" );
												$( "label[for='EMAIL_USED_checkbox']" ).addClass( "ui-checkbox-on" );
												$("#EMAIL_FROM_NAME").prop("data-validation-optional",false);
												$("#EMAIL_RECIPIENTS").prop("data-validation-optional",false);
												$('#cam_connect_email_used').css('display','block')
												$('#URL_HELP_NO_MAIL').css('display','block')
												$('#URL_HELP_NO_MAIL_LABEL').css('display','block')
												$('#no_email').css('display','initial')
												$('#email_to').css('display','initial')
												$('#email_resize').css('display','initial')
												$('#URL_HELP_EMAIL_RESIZE_LABEL').css('display','block')
												$('#URL_HELP_EMAIL_RESIZE').css('display','block')
											}
											else
											{
												$("#EMAIL_USED_checkbox").prop("checked", 0);
												$( "label[for='EMAIL_USED_checkbox']" ).removeClass( "ui-checkbox-on" );
												$( "label[for='EMAIL_USED_checkbox']" ).addClass( "ui-checkbox-off" );
												$("#EMAIL_FROM_NAME").prop("data-validation-optional",true);
												$("#EMAIL_RECIPIENTS").prop("data-validation-optional",true);
												$('#cam_connect_email_used').css('display','none')
												$('#URL_HELP_NO_MAIL').css('display','none')
												$('#URL_HELP_NO_MAIL_LABEL').css('display','none')
												$('#no_email').css('display','none')
												$('#email_resize').css('display','none')
												$('#email_to').css('display','none')
												$('#URL_HELP_EMAIL_RESIZE_LABEL').css('display','none')
												$('#URL_HELP_EMAIL_RESIZE').css('display','none')
											}
											if ( $('#EMAIL_INLINE_checkbox').is(':checked') )
											{
												$('#EMAIL_INLINE').val(1);
											}
											else
											{
												$('#EMAIL_INLINE').val(0);
											}
											if ( $('#EMAIL_TO_checkbox').is(':checked') )
											{
												$('#EMAIL_TO').val(1);
											}
											else
											{
												$('#EMAIL_TO').val(0);
											}
											return;
										}
										function display_info (text)
										{
															$('#form-error-message').html( text.replace("#RECIPIENTS#", $('#EMAIL_RECIPIENTS').val().replace("@","(at)")));
															setTimeout( function() { $('#form-error-message').html(''); }, 6000);
										}
										$( document ).ready(function()
										{
											chk_boxes();
										});
									</script>
