									<center>
											<img src="<TMPL_VAR CC.LOGO_ICON>"><br>
											<table border=0 cellpadding=0 width="90%">
												<tr>
													<td colspan="3">
														<select id="CAM_LIST" onchange="$( $('#CAM_LIST').val()).scrollToMe();" data-mini="false">
															<script> $('#CAM_LIST').append(new Option('<TMPL_VAR CC.CAM_SELECT_OPTION>', '#CAM_LIST', true, true));</script>
														</select>
													</td>
												</tr>
											</table><br><hr>
											<b><TMPL_VAR CC.LOGO_TEXT></b>
										<!-- NOTIFICATIONS //-->
										<TMPL_VAR NOTIFICATIONS>
										<!-- NOTIFICATIONS //-->
										<form method="post" data-ajax="false" name="main_form" id="main_form" action="<TMPL_VAR SELFURL>">
											<table border=0 cellpadding=0 width="90%">
												<tr>
													<td colspan="3">
														<select id="IMAGE_RESIZE" name="IMAGE_RESIZE" data-mini="false">
															<option value="9999"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> <TMPL_VAR CC.IMAGE_RESIZE_ORIGINAL_TEXT></option>
															<option value="240" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 240px</option>
															<option value="320" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 320px</option>
															<option value="640" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 640px</option>
															<option value="720" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 720px</option>
															<option value="1024"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1024px</option>
															<option value="1280"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1280px</option>
															<option value="1600"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1600px</option>
															<option value="1920"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1920px</option>
															<option value="0"   ><TMPL_VAR CC.IMAGE_RESIZE_JUST_TEXT></option>
														</select>
														<SCRIPT> $("#IMAGE_RESIZE").val('<TMPL_VAR IMAGE_RESIZE>'); </SCRIPT>
													</td>
												</tr>
												<tr>
													<td colspan="3">
														<input onclick="chk_boxes()" type="checkbox" id="WATERMARK_checkbox" name="WATERMARK_checkbox"><label for="WATERMARK_checkbox"><TMPL_VAR CC.WATERMARK_TEXT></label>
														<script><TMPL_VAR WATERMARK_script></script>
														<input id="WATERMARK" name="WATERMARK" type="hidden" value="<TMPL_VAR WATERMARK>">
													</td>
												</tr>
												<tr>
													<td colspan="3">
														<input type="checkbox" onclick="if ( $(this).is(':checked') ) { $('#EMAIL_USED').val(1) } else { $('#EMAIL_USED').val(0) }" id="EMAIL_USED_checkbox" name="EMAIL_USED_checkbox"><label for="EMAIL_USED_checkbox"><TMPL_VAR CC.EMAIL_USED_TEXT></label>
														<input id="EMAIL_USED" name="EMAIL_USED" type="hidden" value="<TMPL_VAR EMAIL_USED>">
													</td>
												</tr>
											</table>
											<div id="cam_connect_email_used" style="display:none;">
												<table width="90%" border=0 style="padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(255,255,192,.2);">
													<tr>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_RECIPIENTS_TEXT></nobr>
														</td>
														<td width="100%">
															<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.EMAIL_RECIPIENTS_VALIDATION>" data-validation-rule="special:emails" id="EMAIL_RECIPIENTS" name="EMAIL_RECIPIENTS" type="email" class="textfield" placeholder="<TMPL_VAR CC.EMAIL_RECIPIENTS_SUGGESTION>" value="<TMPL_VAR EMAIL_RECIPIENTS>">
															<input type="hidden" name="EMAIL_FILENAME" value="<TMPL_VAR EMAIL_FILENAME>">
														</td>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_RECIPIENTS_INFO></nobr>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_FROM_NAME_TEXT></nobr>
														</td>
														<td>
															<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.EMAIL_FROM_NAME_VALIDATION>" data-validation-rule="special:alphanumeric-accented-ws" id="EMAIL_FROM_NAME" name="EMAIL_FROM_NAME" type="text" class="textfield" value="<TMPL_VAR EMAIL_FROM_NAME>">
														</td>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_FROM_NAME_INFO></nobr>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_SUBJECT_TEXT></nobr>
														</td>
														<td colspan="2">
															<table width="100%">
																<tr style="vertical-align:top;">
																	<td>
																		<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT1_VALIDATION>" data-validation-rule="special:alphanumeric-accented-ws" id="EMAIL_SUBJECT1" name="EMAIL_SUBJECT1" type="text" class="textfield" value="<TMPL_VAR EMAIL_SUBJECT1>">
																	</td>
																	<td>
																		<input autocomplete="nope" data-validation-error-msg="<TMPL_VAR CC.EMAIL_DATE_FORMAT_VALIDATION>" data-validation-rule="^([\slNSwFnjymdYMD\.\-\/]){1,16}$" placeholder="d.m.Y" id="EMAIL_DATE_FORMAT" name="EMAIL_DATE_FORMAT" type="text" class="textfield" value="<TMPL_VAR EMAIL_DATE_FORMAT>">
																	</td>
																	<td>
																		<input autocomplete="nope" data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT2_VALIDATION>" data-validation-rule="special:alphanumeric-accented-ws" id="EMAIL_SUBJECT2" name="EMAIL_SUBJECT2" type="text" class="textfield" value="<TMPL_VAR EMAIL_SUBJECT2>">
																	</td>
																	<td>
																		<input autocomplete="nope" data-validation-error-msg="<TMPL_VAR CC.EMAIL_TIME_FORMAT_VALIDATION>" data-validation-rule="^([\saABgGhHisT\:\.\-\/]){1,16}$" placeholder="H.i.s"  id="EMAIL_TIME_FORMAT" name="EMAIL_TIME_FORMAT" type="text" class="textfield" value="<TMPL_VAR EMAIL_TIME_FORMAT>">
																	</td>
																	<td>
																		<input autocomplete="nope" data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT3_VALIDATION>" data-validation-rule="special:alphanumeric-accented-ws" id="EMAIL_SUBJECT3" name="EMAIL_SUBJECT3" type="text" class="textfield" value="<TMPL_VAR EMAIL_SUBJECT3>">
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_BODY_TEXT></nobr>
														</td>
														<td colspan="2">
															<input autocomplete="off" id="EMAIL_BODY" name="EMAIL_BODY" type="text" data-validation="length letternumeric" data-validation-length="Max1000" data-validation-allowing="-_ </>&;:.,?!" class="textfield" value="<TMPL_VAR EMAIL_BODY>" data-validation-error-msg="<TMPL_VAR CC.EMAIL_BODY_VALIDATION>">
														</td>
													</tr>
													<tr>
														<td align="right">
														</td>
														<td colspan="2">
															<select id="EMAIL_RESIZE" name="EMAIL_RESIZE" data-mini="false">
																<option value="0"   ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> <TMPL_VAR CC.EMAIL_RESIZE_ORIGINAL_TEXT></option>
																<option value="240" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 240px</option>
																<option value="320" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 320px</option>
																<option value="640" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 640px</option>
																<option value="720" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 720px</option>
																<option value="1024"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1024px</option>
																<option value="1280"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1280px</option>
																<option value="1600"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1600px</option>
																<option value="1920"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1920px</option>
															</select>
															<SCRIPT> $("#EMAIL_RESIZE").val('<TMPL_VAR EMAIL_RESIZE>'); </SCRIPT>
														</td>
													</tr>
													<tr>
														<td>
														</td>
														<td colspan="2">
															<input onclick="chk_boxes()" type="checkbox" id="EMAIL_INLINE_checkbox" name="EMAIL_INLINE_checkbox"><label style="font-size:1em" for="EMAIL_INLINE_checkbox"><TMPL_VAR CC.EMAIL_INLINE_TEXT></label>
															<script><TMPL_VAR EMAIL_INLINE_script></script>
															<input id="EMAIL_INLINE" name="EMAIL_INLINE" type="hidden" value="<TMPL_VAR EMAIL_INLINE>">
														</td>
													</tr>
													<tr>
														<td>
														</td>
														<td colspan="2">
															<input onclick="chk_boxes()" type="checkbox" id="EMAIL_TO_checkbox" name="EMAIL_TO_checkbox"><label style="font-size:1em" for="EMAIL_TO_checkbox"><TMPL_VAR CC.EMAIL_TO_TEXT> <small><a onclick="display_info('<TMPL_VAR CC.EMAIL_TO_EXPLAIN_TEXT>');"><TMPL_VAR CC.EMAIL_TO_HELP_TEXT></a></small></label>
															<script><TMPL_VAR EMAIL_TO_script></script>
															<input id="EMAIL_TO" name="EMAIL_TO" type="hidden" value="<TMPL_VAR EMAIL_TO>">
														</td>
													</tr>
													<tr>
														<td align="right">
															<nobr><TMPL_VAR CC.EMAIL_SIGNATURE_TEXT></nobr>
														</td>
														<td colspan="2">
															<input autocomplete="off" id="EMAIL_SIGNATURE" name="EMAIL_SIGNATURE" type="text" data-validation="length letternumeric" data-validation-length="Max256" data-validation-allowing="-_ </>&;:.,?!+()</>&;:.,#" class="textfield" value="<TMPL_VAR EMAIL_SIGNATURE>" data-validation-error-msg="<TMPL_VAR CC.EMAIL_SIGNATURE_VALIDATION>">
														</td>
													</tr>
												</table>
											</div>
											<div id="form-error-message" class="form-error-message"></div>

											<table border=0 cellpadding=0 width="90%">
												<tr>
													<td style="min-witdh:40%; width:40%;">
														<table>
															<tr>
																<td>
																	<button onclick="$.ajax({url: '', type: 'GET', data: { 'delete_log':1}}); return false;" data-role="button" data-inline="true" data-mini="true" data-icon="delete"><TMPL_VAR CC.LOG_BUTTON_DELETE></button>
																</td>
																<td>
																	<button onclick="window.open('/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&amp;header=html&amp;format=template', 'log'); return false;" id="logview" data-role="button" data-inline="true" data-mini="true" data-icon="bars"><TMPL_VAR CC.LOG_BUTTON_VIEW></button>
																</td>
																<td>
																	<select id="LOGLEVEL" name="LOGLEVEL" data-mini="true">
																		<option value="7" ><TMPL_VAR CC.LOGLEVEL> <TMPL_VAR CC.LOGLEVEL7></option>
																		<option value="4"><TMPL_VAR CC.LOGLEVEL> <TMPL_VAR CC.LOGLEVEL4></option>
																		<option value="3"><TMPL_VAR CC.LOGLEVEL> <TMPL_VAR CC.LOGLEVEL3></option>
																		<option value="2"><TMPL_VAR CC.LOGLEVEL> <TMPL_VAR CC.LOGLEVEL2></option>
																	</select>
																	<SCRIPT> $("#LOGLEVEL").val('<TMPL_VAR LOGLEVEL>'); </SCRIPT>
																</td>
															</tr>
														</table>
													</td>
													<td>
														<center><nobr>
															<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR CC.CANCEL_TEXT></a>
															<input type="hidden" name="saveformdata" value="1">
															<button onclick="chk_boxes();" type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR CC.SAVE_TEXT></button>
														</nobr></center>
													</td>
													<td style="min-witdh:40%; width:40%;">
													</td>
												</tr>
											</table>
											<br>
													<b><TMPL_VAR CC.URL_HELPER_SECTION_TEXT></b>
											<br>					
									<script>

										function cam_url(host, port, camid)
										{
											
											
											$( "#cam_host_or_ip_url"+camid ).html(host);
											if ( port.length >= 1 && ( port != "80" & port != "") )
											{
												$( "#cam_host_or_ip_url"+camid ).html(host);
												$( "#cam_host_or_ip_port"+camid ).html('&port=<span style="color:#00C000">'+$("#CAM_PORT"+camid).val()+"</SPAN>");
												var cam_url = host+"&port="+port;
											}
											else
											{
												$( "#cam_host_or_ip_url"+camid ).html(host);
												$( "#cam_host_or_ip_port"+camid ).html('&port=<span style="color:#00C000">'+80+"</SPAN>");
												var cam_url = host+"&port=80";
											}
											return cam_url
										}

										jQuery.fn.extend({
										 scrollToMe: function () {
										   var x = jQuery(this).offset().top - 50;
										   jQuery('html,body').animate({scrollTop: x}, 400);
										}});
									</script>
									<button onclick="$.ajax({url: '', type: 'GET', data: { 'create_cam':1}}); " data-role="button" data-inline="true" data-mini="true" data-icon="plus"><TMPL_VAR CC.BUTTON_CREATE_CAM></button>
									<TMPL_LOOP NAME="CAMDATA">
									<br>
									<div id="camdiv<TMPL_VAR CAMNO>">
										<script> $('#CAM_LIST').append(new Option('<TMPL_VAR CAM_NAME>', '#camdiv<TMPL_VAR CAMNO>', false, false)); </script>
										<table width="90%" style="padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(109,172,32,.2);">
											<tr>
												<td align="left" colspan="3">
												<big><b><TMPL_VAR CAMNO></b></big>
												<button onclick="$('#CAM_LIST').scrollToMe(); return false;" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-u"><TMPL_VAR CC.CAM_SELECTION_SCROLL></button>
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_NAME<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_NAME_TEXT></label>
												</td>
												<td>
													<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.CAM_NAME_HINT>"  data-validation-rule="special:alphanumeric-accented-ws" id="CAM_NAME<TMPL_VAR CAMNO>" name="CAM_NAME<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_NAME_SUGGESTION>" value="<TMPL_VAR CAM_NAME>">
												</td>
												<td>
													&nbsp;<button onclick="$.ajax({url: '', type: 'GET', data: { 'delete_cam':<TMPL_VAR CAMNO>}}).done(function() { $( '#camdiv<TMPL_VAR CAMNO>' ).empty(); }); return false;" data-role="button" data-inline="true" data-mini="true" data-icon="delete"><TMPL_VAR CC.BUTTON_DELETE_CAM></button>
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_NOTE<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_NOTE_TEXT></label>
												</td>
												<td>
													<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.CAM_NOTE_HINT>"  data-validation-rule="^([A-Za-z0-9_-\s\(\)\.\,\:\;\/]){1,32}$" id="CAM_NOTE<TMPL_VAR CAMNO>" name="CAM_NOTE<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_NOTE_SUGGESTION>" value="<TMPL_VAR CAM_NOTE>">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_RECIPIENTS<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_RECIPIENTS_TEXT></label>
												</td>
												<td>
													<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.CAM_RECIPIENTS_HINT>"  data-validation-rule="special:emails" id="CAM_RECIPIENTS<TMPL_VAR CAMNO>" name="CAM_RECIPIENTS<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_RECIPIENTS_SUGGESTION>" value="<TMPL_VAR CAM_RECIPIENTS>">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_HOST_OR_IP<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_HOST_TEXT></label>
												</td>
												<td>
													<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.CAM_HOST_HINT>"  data-validation-rule="special:hostname_or_ipaddr" id="CAM_HOST_OR_IP<TMPL_VAR CAMNO>" name="CAM_HOST_OR_IP<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_HOST_SUGGESTION>" value="<TMPL_VAR CAM_HOST_OR_IP>">
												</td>
												<td>
													<input autocomplete="nope"  data-validation-error-msg="<TMPL_VAR CC.CAM_PORT_HINT>"  data-validation-rule="special:ipport" id="CAM_PORT<TMPL_VAR CAMNO>" name="CAM_PORT<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_PORT_SUGGESTION>" value="<TMPL_VAR CAM_PORT>">
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_MODEL<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_MODEL_TEXT></label>
												</td>
												<td>
													<select style="align:left;" id="CAM_MODEL<TMPL_VAR CAMNO>" name="CAM_MODEL<TMPL_VAR CAMNO>" data-mini="false">
														<TMPL_VAR cam_model_list>
													</select>
													<SCRIPT> $("#CAM_MODEL<TMPL_VAR CAMNO>").val('<TMPL_VAR CAM_MODEL>'); </SCRIPT>
												</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_USER<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_USER_TEXT></label>
												</td>
												<td>
													<input id="CAM_USER<TMPL_VAR CAMNO>" autocomplete="nope" name="CAM_USER<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_USER_SUGGESTION>" value="<TMPL_VAR CAM_USER>">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td align="right">
													<label id="label_CAM_PASS<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_PASS_TEXT></label>
												</td>
												<td>
													<input id="CAM_PASS<TMPL_VAR CAMNO>" autocomplete="new-password" name="CAM_PASS<TMPL_VAR CAMNO>" type="password" class="textfield" value="<TMPL_VAR CAM_PASS>">
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<i><TMPL_VAR CC.URL_HELP_CUSTOMIZE_TEXT></i>
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $('#CAM_IMAGE_RESIZE_CB<TMPL_VAR CAMNO>').val(1); $( '#image_resize<TMPL_VAR CAMNO>' ).html('&image_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>'); $( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','&image_resize=' + $('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()) } else { $('#CAM_IMAGE_RESIZE_CB<TMPL_VAR CAMNO>').val(0); $( '#image_resize<TMPL_VAR CAMNO>' ).html(''); $( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','') }" type="checkbox" id="CAM_IMAGE_RESIZE_checkbox<TMPL_VAR CAMNO>" name="CAM_IMAGE_RESIZE_checkbox<TMPL_VAR CAMNO>"><label id="CAM_IMAGE_RESIZE_LABEL<TMPL_VAR CAMNO>" for="CAM_IMAGE_RESIZE_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.URL_HELP_IMAGE_RESIZE_TEXT></label>
												<input id="CAM_IMAGE_RESIZE_CB<TMPL_VAR CAMNO>" name="CAM_IMAGE_RESIZE_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_IMAGE_RESIZE_CB>">
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
														<select id="CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>" name="CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>" data-mini="false">
																<option value="9999"   ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> <TMPL_VAR CC.EMAIL_RESIZE_ORIGINAL_TEXT></option>
																<option value="240" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 240px</option>
																<option value="320" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 320px</option>
																<option value="640" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 640px</option>
																<option value="720" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 720px</option>
																<option value="1024"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1024px</option>
																<option value="1280"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1280px</option>
																<option value="1600"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1600px</option>
																<option value="1920"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1920px</option>
																<option value="0"   ><TMPL_VAR CC.IMAGE_RESIZE_JUST_TEXT></option>
															</select>
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $('#CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>').val(1); $( '#email_resize<TMPL_VAR CAMNO>' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>'); $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','&email_resize=' + $('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()) } else { $('#CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>').val(0); $( '#email_resize<TMPL_VAR CAMNO>' ).html(''); $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','') }" type="checkbox" id="CAM_EMAIL_RESIZE_checkbox<TMPL_VAR CAMNO>" name="CAM_EMAIL_RESIZE_checkbox<TMPL_VAR CAMNO>"><label id="CAM_EMAIL_RESIZE_LABEL<TMPL_VAR CAMNO>" for="CAM_EMAIL_RESIZE_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.URL_HELP_EMAIL_RESIZE_TEXT></label>
												<input id="CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>" name="CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_EMAIL_RESIZE_CB>">
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
														<select id="CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>" name="CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>" data-mini="false">
																<option value="9999"   ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> <TMPL_VAR CC.EMAIL_RESIZE_ORIGINAL_TEXT></option>
																<option value="240" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 240px</option>
																<option value="320" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 320px</option>
																<option value="640" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 640px</option>
																<option value="720" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 720px</option>
																<option value="1024"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1024px</option>
																<option value="1280"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1280px</option>
																<option value="1600"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1600px</option>
																<option value="1920"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1920px</option>
																<option value="0"   ><TMPL_VAR CC.IMAGE_RESIZE_JUST_TEXT></option>
															</select>
												</td>
											</tr>

											<tr>
												<td>
													&nbsp;
												</td>
												<td colspan="2">
													<input onclick="if ( $(this).is(':checked') ) { $('#CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>').val(1);     $( '#no_email<TMPL_VAR CAMNO>' ).html('&no_email=<span style=\'color:#00C0C0\'>1</SPAN>'); } else { $('#CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>').val(0); $( '#no_email<TMPL_VAR CAMNO>' ).html(''); }" type="checkbox" id="CAM_NO_EMAIL_checkbox<TMPL_VAR CAMNO>" name="CAM_NO_EMAIL_checkbox<TMPL_VAR CAMNO>"><label id="CAM_NO_EMAIL_LABEL<TMPL_VAR CAMNO>" for="CAM_NO_EMAIL_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.URL_HELP_NO_MAIL_TEXT></label>
												<input id="CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>" name="CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_NO_EMAIL_CB>">
												</td>
											</tr>
											<tr>
												<td colspan="3" width="100%">
													<hr><TMPL_VAR CC.LOXONE_CONFIG_TEXT><br/><br/>
										<font face="courier"><small><b>http://<TMPL_VAR HTTP_HOST><TMPL_VAR HTTP_PATH>/?kamera=<span style="color:#4040FF" id="cam_host_or_ip_url<TMPL_VAR CAMNO>">?</span><span style="color:#000000" id="cam_host_or_ip_port<TMPL_VAR CAMNO>"></span>&user=<span style="color:#FF40C0" id="cam_user_url<TMPL_VAR CAMNO>">?</span>&pass=<span style="color:#c080FF" id="cam_pass_url<TMPL_VAR CAMNO>">?</span>&cam-name=<span style="color:#80c0FF" id="cam_name_url<TMPL_VAR CAMNO>">?</span>&cam-model=<span style="color:#40c040" id="cam_type<TMPL_VAR CAMNO>">?</span><span url="" id="email_to<TMPL_VAR CAMNO>"></span><span url="" id="no_email<TMPL_VAR CAMNO>"></span><span url="" id="image_resize<TMPL_VAR CAMNO>"></span><span url="" id="email_resize<TMPL_VAR CAMNO>"></span></b></font></small>
										<br><center><a id="btntest<TMPL_VAR CAMNO>" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" href="#"><TMPL_VAR CC.TEST_TEXT></a>
											</center></td>
											</tr>
										</table>
									<script>
    $( document ).ready(function()
    {
        validate_enable('#EMAIL_RECIPIENTS');
        validate_enable('#EMAIL_FROM_NAME');
        validate_enable('#EMAIL_SUBJECT1');
        validate_enable('#EMAIL_DATE_FORMAT');
        validate_enable('#EMAIL_SUBJECT2');
        validate_enable('#EMAIL_TIME_FORMAT');
        validate_enable('#EMAIL_SUBJECT3');
        validate_enable('#CAM_NAME<TMPL_VAR CAMNO>');
        validate_enable('#CAM_NOTE<TMPL_VAR CAMNO>');
        validate_enable('#CAM_RECIPIENTS<TMPL_VAR CAMNO>');
        validate_enable('#CAM_HOST_OR_IP<TMPL_VAR CAMNO>');
        validate_enable('#CAM_PORT<TMPL_VAR CAMNO>');
		validate_chk_object(['#CAM_NAME<TMPL_VAR CAMNO>','#CAM_NOTE_HINT<TMPL_VAR CAMNO>','#CAM_RECIPIENTS<TMPL_VAR CAMNO>','#CAM_HOST_OR_IP<TMPL_VAR CAMNO>','#CAM_PORT<TMPL_VAR CAMNO>']);
									<TMPL_VAR CAM_IMAGE_RESIZE_CB_script>
									if ( "<TMPL_VAR CAM_IMAGE_RESIZE_CB>" == 1  ) 
									{ 
										$("#CAM_IMAGE_RESIZE_checkbox<TMPL_VAR CAMNO>").prop("checked", 1);
										$( "label[for='CAM_IMAGE_RESIZE_checkbox<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
									    $( '#image_resize<TMPL_VAR CAMNO>' ).html('&image_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>');
									    $( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','&image_resize=' + $('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()) 
									} 
									else 
									{ 
										$( '#image_resize<TMPL_VAR CAMNO>' ).html(''); $( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','') 
									};
									$("#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>").val('<TMPL_VAR CAM_IMAGE_RESIZE>');
									$('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').on('change', function(event) 
									{ 
										if ( $('#CAM_IMAGE_RESIZE_CB<TMPL_VAR CAMNO>').val() == 1 ) 
										{ 
											$( '#image_resize<TMPL_VAR CAMNO>' ).html('&image_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>'); 
											$( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','&image_resize=' + $('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').val()) 
										} 
										else 
										{ 
											$( '#image_resize<TMPL_VAR CAMNO>' ).html(''); 
											$( '#image_resize<TMPL_VAR CAMNO>' ).prop('url','') 
										};
									});
									$('#CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>').trigger('change');

									<TMPL_VAR CAM_EMAIL_RESIZE_CB_script>
									if ( "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 1  ) 
									{ 
										$("#CAM_EMAIL_RESIZE_checkbox<TMPL_VAR CAMNO>").prop("checked", 1);
										$( "label[for='CAM_EMAIL_RESIZE_checkbox<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
									    $( '#email_resize<TMPL_VAR CAMNO>' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>');
									    $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','&email_resize=' + $('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()) 
									} 
									else 
									{ 
										$( '#email_resize<TMPL_VAR CAMNO>' ).html(''); $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','') 
									};
									$("#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>").val('<TMPL_VAR CAM_EMAIL_RESIZE>');
									$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').on('change', function(event) 
									{ 
										if ( $('#CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>').val() == 1 ) 
										{ 
											$( '#email_resize<TMPL_VAR CAMNO>' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>'); 
											$( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','&email_resize=' + $('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()) 
										} 
										else 
										{ 
											$( '#email_resize<TMPL_VAR CAMNO>' ).html(''); 
											$( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','') 
										};
									});
									$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').trigger('change');

									<TMPL_VAR CAM_NO_EMAIL_CB_script>
									if ( "<TMPL_VAR CAM_NO_EMAIL_CB>" == 1  ) 
									{ 
										$("#CAM_NO_EMAIL_checkbox<TMPL_VAR CAMNO>").prop("checked", 1);
										$( "label[for='CAM_NO_EMAIL_checkbox<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
										$('#CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>').val(1); 
										$( '#no_email<TMPL_VAR CAMNO>' ).html('&no_email=<span style=\'color:#00C0C0\'>1</SPAN>'); 
									} 
									else 
									{ 
										$('#CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>').val(0); 
										$( '#no_email<TMPL_VAR CAMNO>' ).html('');
									};




										cam_url($( "#CAM_HOST_OR_IP<TMPL_VAR CAMNO>").val(),$( "#CAM_PORT<TMPL_VAR CAMNO>").val(),"<TMPL_VAR CAMNO>"); 										
										$( "#cam_type<TMPL_VAR CAMNO>" ).html( $( "#CAM_MODEL<TMPL_VAR CAMNO>").val() );
										$( "#cam_user_url<TMPL_VAR CAMNO>" ).html($( "#CAM_USER<TMPL_VAR CAMNO>").val());
										$( "#cam_pass_url<TMPL_VAR CAMNO>" ).html($( "#CAM_PASS<TMPL_VAR CAMNO>").val());
										$( "#cam_name_url<TMPL_VAR CAMNO>" ).html( encodeURIComponent($( "#CAM_NAME<TMPL_VAR CAMNO>").val()));


										$("#CAM_MODEL<TMPL_VAR CAMNO>").change(function()  
										{ 	
											$( "#cam_type<TMPL_VAR CAMNO>" ).html($( "#CAM_MODEL<TMPL_VAR CAMNO>").val() ); 
										}); 
										$( "#CAM_HOST_OR_IP<TMPL_VAR CAMNO>").keyup(function( event ) 
										{ 
											cam_url($( "#CAM_HOST_OR_IP<TMPL_VAR CAMNO>").val(),$( "#CAM_PORT<TMPL_VAR CAMNO>").val(),"<TMPL_VAR CAMNO>"); 
										}); 
										$( "#CAM_PORT<TMPL_VAR CAMNO>").keyup(function( event ) 
										{ 
											cam_url($( "#CAM_HOST_OR_IP<TMPL_VAR CAMNO>").val(),$( "#CAM_PORT<TMPL_VAR CAMNO>").val(),"<TMPL_VAR CAMNO>"); 
										}); 
										$( "#CAM_USER<TMPL_VAR CAMNO>" ).keyup(function( event ) 
										{ 
											$( "#cam_user_url<TMPL_VAR CAMNO>" ).html($("#CAM_USER<TMPL_VAR CAMNO>").val()); 
										}); 
										$( "#CAM_PASS<TMPL_VAR CAMNO>" ).keyup(function( event ) 
										{ 
											$("#cam_pass_url<TMPL_VAR CAMNO>" ).html($( "#CAM_PASS<TMPL_VAR CAMNO>").val()); 
										}); 
										$( "#CAM_NAME<TMPL_VAR CAMNO>" ).keyup(function( event ) 
										{ 
											$("#cam_name_url<TMPL_VAR CAMNO>").html( encodeURIComponent($( "#CAM_NAME<TMPL_VAR CAMNO>").val())); 
											$('#CAM_LIST option[value="#camdiv<TMPL_VAR CAMNO>"]').text( $("#CAM_NAME<TMPL_VAR CAMNO>").val());
											$('#CAM_LIST-button span').html( $("#CAM_NAME<TMPL_VAR CAMNO>").val());
											
										}); 
										$( "#btntest<TMPL_VAR CAMNO>" ).click(function () 
										{ 
											last_part = '';
											if ($( "#image_resize<TMPL_VAR CAMNO>").prop('url'))
											{
												last_part = last_part + $( "#image_resize<TMPL_VAR CAMNO>").prop('url');
											}

											if ( $( "#CAM_NO_EMAIL<TMPL_VAR CAMNO>").css('display') == 'none' )
											{
												// Ignore in URL if not visible 
											}
											else
											{
												if ($( "#email_resize<TMPL_VAR CAMNO>").prop('url'))
												{
													last_part = last_part + $( "#email_resize<TMPL_VAR CAMNO>").prop('url');
												}
												if ( $( "#CAM_NO_EMAIL<TMPL_VAR CAMNO>").prop('url') )
												{
													last_part = last_part + $( "#CAM_NO_EMAIL<TMPL_VAR CAMNO>").prop('url');
												}
											}
											url2open = "http://<TMPL_VAR HTTP_HOST><TMPL_VAR HTTP_PATH>/?kamera=" + cam_url($( "#CAM_HOST_OR_IP<TMPL_VAR CAMNO>").val(),$( "#CAM_PORT<TMPL_VAR CAMNO>").val(),"<TMPL_VAR CAMNO>") + "&user=" + 	 $( "#CAM_USER<TMPL_VAR CAMNO>").val() + "&pass=" + $( "#CAM_PASS<TMPL_VAR CAMNO>").val() + "&cam-model=" + $( "#CAM_MODEL<TMPL_VAR CAMNO>").val() + $( "#email_to<TMPL_VAR CAMNO>").attr('url').replace(new RegExp("@", 'g'), "(at)") +"&"+ last_part; window.open(url2open,'Cam-Connect<TMPL_VAR CAMNO>','status=no,scrollbars=no,titlebar=no,toolbar=no,menubar=no,location=no');
										}); 
										
//										
										if ( "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 1 || "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 'checked' || "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 'on' ) 
										{ 
												$("#CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>").prop("checked", 1);
												$( "label[for='CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
											    $( '#email_resize<TMPL_VAR CAMNO>' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>');
											    $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','&email_resize=' + $('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()) 
										} 
										else 
										{ 
											$( '#email_resize<TMPL_VAR CAMNO>' ).html(''); $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','') 
										};
										if ( "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 1 || "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 'checked' || "<TMPL_VAR CAM_EMAIL_RESIZE_CB>" == 'on' ) 
										{ 
												$("#CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>").prop("checked", 1);
												$( "label[for='CAM_EMAIL_RESIZE_CB<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
											    $( '#email_resize<TMPL_VAR CAMNO>' ).html('&email_resize=<span style=\'color:#00C0C0\'>'+$('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()+'</SPAN>');
											    $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','&email_resize=' + $('#CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>').val()) 
										} 
										else 
										{ 
											$( '#email_resize<TMPL_VAR CAMNO>' ).html(''); $( '#email_resize<TMPL_VAR CAMNO>' ).prop('url','') 
										};
										if ( "<TMPL_VAR CAM_NO_EMAIL>" == 1 || "<TMPL_VAR CAM_NO_EMAIL>" == 'checked' || "<TMPL_VAR CAM_NO_EMAIL>" == 'on' ) 
										{ 
												$("#CAM_NO_EMAIL<TMPL_VAR CAMNO>").prop("checked", 1);
												$( "label[for='CAM_NO_EMAIL<TMPL_VAR CAMNO>']" ).removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
											    $( '#CAM_NO_EMAIL<TMPL_VAR CAMNO>' ).html('&no_email=<span style=\'color:#00C0C0\'>'+$('#CAM_NO_EMAIL<TMPL_VAR CAMNO>').val()+'</SPAN>');
											    $( '#CAM_NO_EMAIL<TMPL_VAR CAMNO>' ).prop('url','&no_email=' + $('#CAM_NO_EMAIL<TMPL_VAR CAMNO>').val()) 
										} 
										else 
										{ 
											$( '#CAM_NO_EMAIL<TMPL_VAR CAMNO>' ).html(''); $( '#CAM_NO_EMAIL<TMPL_VAR CAMNO>' ).prop('url','') 
										};
																				
									
    });
									</script>
		</div>
						</TMPL_LOOP>


									</center>
									<script>
								
										var $messages = $('#form-error-message');
										$.validate(
										{
											modules : 'security',
											errorMessagePosition : $messages
										});

										
											
										// Init


										$( "#EMAIL_RECIPIENTS" ).keyup(function( event ) 
										{ 
											$('#EMAIL_TO_checkbox').trigger('change');
										}); 

										$("#EMAIL_USED_checkbox").change(function()  
										{             
											chk_boxes();
										}); 


										$("#EMAIL_TO_checkbox").change(function()  
										{ 
											if ( $('#EMAIL_TO_checkbox').is(':checked') )
												{
													if ( $('#EMAIL_USED').val() == "1" )
													{
														$( "#btntest" ).css('visibility','visible');	
														$( "#email_to" ).html( "&email_to=<span style='color:#FF8040'>" + $('#EMAIL_RECIPIENTS').val().replace(new RegExp("@", 'g'), "(at)") + "</span>");
														$( "#email_to" ).attr( 'url', "&email_to=" + $('#EMAIL_RECIPIENTS').val().replace(new RegExp("@", 'g'), "(at)"));
													}
													else
													{
														$( "#email_to" ).html( '');
														$( "#email_to" ).attr( 'url', '' );
													}
												}
												else
												{
													$( "#email_to" ).html( '');
													$( "#email_to" ).attr( 'url', '' );
												}
										}); 
										$('#EMAIL_TO_checkbox').trigger('change');


										
										// Disable some options on click depending on selected value
										function chk_boxes()
										{
											$("#EMAIL_RECIPIENTS").prop("data-validation-optional",true);
											$("#EMAIL_BODY").prop("data-validation-optional",true);
											$("#EMAIL_SIGNATURE").prop("data-validation-optional",true);
											$("#EMAIL_DATE_FORMAT").prop("data-validation-optional",true);
											$("#EMAIL_TIME_FORMAT").prop("data-validation-optional",true);
											if ( $('#WATERMARK_checkbox').is(':checked') )
											{
												$('#WATERMARK').val(1);
											}
											else
											{
												$('#WATERMARK').val(0);
											}
											
											if ( $('#EMAIL_USED').val() == "1" )
											{
												$("#EMAIL_USED_checkbox").prop("checked", 1);
												$( "label[for='EMAIL_USED_checkbox']" ).removeClass( "ui-checkbox-off" );
												$( "label[for='EMAIL_USED_checkbox']" ).addClass( "ui-checkbox-on" );
												$("#EMAIL_FROM_NAME").prop("data-validation-optional",false);
												$("#EMAIL_RECIPIENTS").prop("data-validation-optional",false);
												$('#cam_connect_email_used').css('display','block')
												$('#CAM_NO_EMAIL').css('display','block')
												$('#CAM_NO_EMAIL_LABEL').css('display','block')
												$('#CAM_NO_EMAIL').css('display','initial')
												$('#email_to').css('display','initial')
												$('#EMAIL_RESIZE').css('display','initial')
												$('#CAM_EMAIL_RESIZE_CB_LABEL').css('display','block')
												$('#CAM_EMAIL_RESIZE_CB').css('display','block')
											}
											else
											{
												$("#EMAIL_USED_checkbox").prop("checked", 0);
												$( "label[for='EMAIL_USED_checkbox']" ).removeClass( "ui-checkbox-on" );
												$( "label[for='EMAIL_USED_checkbox']" ).addClass( "ui-checkbox-off" );
												$("#EMAIL_FROM_NAME").prop("data-validation-optional",true);
												$("#EMAIL_RECIPIENTS").prop("data-validation-optional",true);
												$('#cam_connect_email_used').css('display','none')
												$('#CAM_NO_EMAIL').css('display','none')
												$('#CAM_NO_EMAIL_LABEL').css('display','none')
												$('#CAM_NO_EMAIL').css('display','none')
												$('#EMAIL_RESIZE').css('display','none')
												$('#email_to').css('display','none')
												$('#CAM_EMAIL_RESIZE_CB_LABEL').css('display','none')
												$('#CAM_EMAIL_RESIZE_CB').css('display','none')
											}
											if ( $('#EMAIL_INLINE_checkbox').is(':checked') )
											{
												$('#EMAIL_INLINE').val(1);
											}
											else
											{
												$('#EMAIL_INLINE').val(0);
											}
											if ( $('#EMAIL_TO_checkbox').is(':checked') )
											{
												$('#EMAIL_TO').val(1);
											}
											else
											{
												$('#EMAIL_TO').val(0);
											}
											return;
										}
										function display_info (text)
										{
															$('#form-error-message').html( text.replace("#RECIPIENTS#", $('#EMAIL_RECIPIENTS').val().replace("@","(at)")));
															setTimeout( function() { $('#form-error-message').html(''); }, 6000);
										}
										$( document ).ready(function()
										{
											chk_boxes();
											$( "#CAM_HOST_OR_IP").trigger('keyup');

										});
									</script>
										</form>
